a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.navbar {
  display: flex;
  width: 100%;
  height: $navbarHeight;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background: #fff2;
  box-shadow: 0 0.25rem 1.8rem rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.6rem);
  -webkit-backdrop-filter: blur(0.6rem);
}
.nav-title {
  font-size: var(--titleFontSize);
  color: $primary;
}
.nav-content {
  display: none;
}
.nav-element {
  color: $primary;
}
.nav-element::after {
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: relative;
  width: 0;
  background-color: $primary;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
.nav-element:hover::after {
  width: 100%; 
  left: 0; 
}

.layout {
  margin-bottom: $navbarHeight;
}

.bottom-navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $navbarHeight;
  background-color: $alternativeColor;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.bottom-nav-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  border-radius: 1rem;
  color: $darkBackground;
}
.bottom-nav-element:hover {
  background-color: #0001;
}
.bottom-nav-icon {
  width: 2rem;
  height: 2rem;
}
.bottom-nav-element > p {
  display: none;
}

.nav-link {
  cursor: pointer;
}

@media (min-width: toRem(360)) {
  .bottom-nav-element > p {
    display: block;
  }
}
@media (min-width: toRem(768)) {
  .layout {
    margin-bottom: 0;
  }
  .navbar {
    position: fixed;
    padding: 0 4rem;
  }
  .nav-content {
    display: flex;
    gap: 1rem;
  }
  .bottom-navbar {
    display: none;
  }
}
@media (min-width: toRem(1024)) {
  .navbar {
    padding: 0 6rem;
  }
}
