/* functions */
@function toRem($value) {
  @return calc(($value / 16)) + rem;
}
/* variables & fonts */
:root {
  --titleFontSize: 2rem;
  --subtitleFontSize: 1.6rem;
  --contentFontSize: 1.2rem;
}
@media (min-width: toRem(640)) {
  :root {
    --titleFontSize: 2.2rem;
    --subtitleFontSize: 1.8rem;
    --contentFontSize: 1.4rem;
  }
}
@media (min-width: toRem(1024)) {
  :root {
    --titleFontSize: 2.4rem;
    --subtitleFontSize: 2rem;
    --contentFontSize: 1.6rem;
  }
}
$navbarHeight: 4.5rem;
/* font */
@font-face {
  font-family: ubuntu;
  src: url('./fonts/ubuntu/Ubuntu-Regular.ttf');
}
/* colors */
// $primary: #101357;
$primary: #6D28D9;
$secondary: #C4B5FD;
$complementary: #FACC15;
$lightBackground: #EDE9FE;
$darkBackground: #1F2937;
$alternativeColor: #F472B6;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: ubuntu;
  background-color: $lightBackground;
}
h1, h2, h3, a, p, button {
  color: $darkBackground;
  font-size: var(--contentFontSize);
}
h1, h2 {
  font-size: var(--titleFontSize);
}
h3 {
  font-size: var(--subtitleFontSize);
}
section {
  min-height: 100dvh;
}

img {
  width: 4rem;
}

@import './styles/navbar.scss';
@import './styles/home.scss';
@import './styles/components.scss';
